page-about-us {
    ion-content {
        .page-title {
            width: 100%;
            color: color($colors, color2);
            text-align: center;
        }
        .contents {
            ion-col {
                background-color: aqua;
                margin: 5px;
            }
            }
    }
    
}