page-about-us {
    ion-content {
        .page-title {
            width: 100%;
            color: color($colors, color2);
            text-align: center;
        }
        .contents {
            .ion-row {
                margin: 0px;
                background-color: black;
                
                
            }
            .inner-col {
                background-color: #e38d25;
                margin: 2px;
                justify-content: center;                
                color: #ffffff;          
                             
            }
        }
    }
    
}