<!-- Checkout Page  -->

<!-- Header  -->
<ion-header no-border>
  <header-two title="Passenger Details"></header-two>
</ion-header>

<!-- Content  -->

<ion-content>
  <!-- Price Summery  -->  
  <!-- <ion-grid>
    <ion-row>
      <ion-col col class="bal-section">
        <h2>Total Cost</h2>
        <h4>{{ticketCost}}</h4>
       </ion-col>      
    </ion-row>
  </ion-grid> -->
  <ion-list>
    <form [formGroup]="checkOutForm">   
    <div class="passagerArray" formArrayName="passangers" *ngFor="let item of checkOutForm.get('passangers').controls; let i = index;" >
      <span *ngFor="let seat of arrayofseats">
        <fieldset  [formGroupName]="i">
            <legend>Seat {{seat}}</legend>
            <ion-item>
              <ion-label floating>Full Name </ion-label>
              <ion-input formControlName="passenger_name" type="text"></ion-input>
            </ion-item>          
            <ion-item >
                <ion-label floating>ID/Passport No </ion-label>
                <ion-input formControlName="id_number" type="text"></ion-input>
            </ion-item>
          <ion-item>
              <ion-label floating>Phone Number</ion-label>
              <ion-input  formControlName="phone_number" type="number"  ></ion-input>
          </ion-item>
          <ion-item >
              <ion-label floating>Email Address </ion-label>
              <ion-input formControlName="email_address" type="text"></ion-input>
          </ion-item>
          <ion-item hidden>
              <ion-label floating>Total Amount</ion-label>
              <ion-input disabled="true" formControlName="amount_charged" type="number" [value]="ticketCost" [(ngModel)]="ticketCost"></ion-input>
          </ion-item> 
        </fieldset>
      </span>
    </div>      
        <!-- Card Options  -->
  <ion-card color="color4">
      <ion-card-header text-center>
        Select Payment Method
      </ion-card-header>
  
      <ion-row radio-group formControlName="payment_method">  
        <!-- Master Card  -->
        <ion-col>
          <ion-item>
            <ion-label><img src="assets/imgs/cards/cash.png"></ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-col>
  
        <!-- Visa Card  -->
        <ion-col>
          <ion-item>
            <ion-label><img src="assets/imgs/cards/jambopay.png"></ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-col>
  
        <!-- Amex Card  -->
        <ion-col>
          <ion-item>
            <ion-label><img src="assets/imgs/cards/mpesa.png"></ion-label>
            <ion-radio value="3"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
      
    </form>
  </ion-list>  
</ion-content>
<!-- Footer  -->
<ion-footer>
  <button ion-button large full no-margin class="custom-btn" (tap)="goToPaymentPage()">
    Pay Ksh {{ticketCost}} Now
  </button>
</ion-footer>
