<!-- Header  -->
<ion-header no-border>
  <header-two title="Bus Details"></header-two>
</ion-header>

<!-- Content  --> 
<ion-content>
    <ion-grid @summaryState *ngIf="doneLoadingBuses == true">
        <ion-row>
          <ion-col col-6 class="bal-section" *ngIf="from_name !== null">
            <h2>From</h2>
            <h4>{{from_name}}</h4>
           </ion-col>
          <ion-col col-6 class="bal-section" *ngIf="to_name !== null">
            <h2>To</h2>
            <h4>{{to_name}}</h4>
           </ion-col>
        </ion-row>
      </ion-grid>      
      <ion-card color="color4"  @summaryState  *ngIf="seatSelectedForBooking.length > 0">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h4>Ticket Price Summary</h4>
              <div class="font14 marginTB10">
                <div class="wordWrap">No of Seats: {{seatSelectedForBooking.length}} </div>
                <div>Ticket Price : {{ticketPrice}} X {{seatSelectedForBooking.length}} = {{currency}}.{{ticketPrice*seatSelectedForBooking.length}} </div>            
            </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-grid @summaryState  style="margin-bottom :10x;" *ngIf="doneLoadingBuses == true">
          <ion-card color="color2">
              <ion-row>
                  <ion-col>              
                    <h4 style="text-align:center">{{selected_bus_name}}</h4>
                   </ion-col>            
                </ion-row>
          </ion-card>
        </ion-grid>   
  

  <!-- Booking Summary  --> 
  <div class="seat-section" *ngIf="seatsArray?.length > 0" class="animated fadeIn">    
    <!-- 49 seater format -->
    <ion-grid class="animated fadeIn" *ngIf="seater === '49'" class="animated fadeIn" fixed>
        <ion-row align-items-end >
          <ion-col> 
            <ion-grid no-padding>
              <ion-row *ngFor="let item of first_row">
                <ion-col class="inner-col">
                  <div class="btn-seat-available" *ngIf="checkIfAvailable(item)  === true && ! isstaffSeat(item)" (tap)="seatSelected(item)">
                      <div class="seat-area" [ngStyle]="{'background-image':'url('+checkIfselected(item)+')'}">
                        <p>{{item}}</p>
                      </div>             
                  </div>                    
                  <div class="seat-area btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="checkIfAvailable(item)  === false" (tap)="seatNotAvailable(item)" >                    
                    <p>{{item}}</p> 
                  </div>
                  <div class="seat-area btn-not-available" [ngStyle]="{'background-image':'url('+staff+')'}" *ngIf="isstaffSeat(item)" (tap)="onselectingStaff()" >                    
                    <!-- <p>{{item}}</p>  -->
                  </div>                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col> 
              <ion-grid no-padding>
                <ion-row *ngFor="let item of second_row">
                  <ion-col class="inner-col">
                    <div class="btn-seat-available" *ngIf="checkIfAvailable(item)  === true && ! isstaffSeat(item)" (tap)="seatSelected(item)">
                        <div class="seat-area" [ngStyle]="{'background-image':'url('+checkIfselected(item)+')'}">
                          <p>{{item}}</p>
                        </div>             
                    </div>                    
                    <div class="seat-area btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="checkIfAvailable(item)  === false" (tap)="seatNotAvailable(item)" >                    
                      <p>{{item}}</p> 
                    </div>
                    <div class="seat-area btn-not-available" [ngStyle]="{'background-image':'url('+staff+')'}" *ngIf="isstaffSeat(item)" (tap)="onselectingStaff()" >                    
                      <!-- <p>{{item}}</p>  -->
                    </div>                  
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
              <ion-col> 
                <ion-grid no-padding >
                  <ion-row *ngFor="let item of third_row">
                    <ion-col class="inner-col" >
                      <div class="btn-seat-available" *ngIf="checkIfAvailable(item)  === true" (tap)="seatSelected(item)">
                          <div class="seat-area" [ngStyle]="{'background-image':'url('+checkIfselected(item)+')'}">
                            <p>{{item}}</p>
                          </div>             
                      </div>                    
                      <div class="seat-area btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="checkIfAvailable(item)  === false" (tap)="seatNotAvailable(item)" >                    
                        <p>{{item}}</p> 
                      </div>                      
                    </ion-col>
                  </ion-row>
              </ion-grid>
              </ion-col>
              <ion-col> 
                  <ion-grid no-padding>
                    <ion-row *ngFor="let item of fourth_row">
                        <ion-col class="inner-col">
                            <div class="btn-seat-available" *ngIf="checkIfAvailable(item)  === true" (tap)="seatSelected(item)">
                                <div class="seat-area" [ngStyle]="{'background-image':'url('+checkIfselected(item)+')'}">
                                  <p>{{item}}</p>
                                </div>             
                            </div>                    
                            <div class="seat-area btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="checkIfAvailable(item)  === false" (tap)="seatNotAvailable(item)" >                    
                              <p>{{item}}</p> 
                            </div>        
                            </ion-col>
                      
                    </ion-row>
                  </ion-grid>
              </ion-col>
              <ion-col> 
                  <ion-grid no-padding>
                    <ion-row *ngFor="let item of fifth_row">
                      <ion-col class="inner-col">
                        <div class="btn-seat-available" *ngIf="checkIfAvailable(item)  === true" (tap)="seatSelected(item)">
                            <div class="seat-area" [ngStyle]="{'background-image':'url('+checkIfselected(item)+')'}">
                              <p>{{item}}</p>
                            </div>             
                        </div>                    
                        <div class="seat-area btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="checkIfAvailable(item)  === false" (tap)="seatNotAvailable(item)" >                    
                          <p>{{item}}</p> 
                        </div>        
                        </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-col>                                                                       
        </ion-row>           
      </ion-grid>
 
  
       <!-- 11 seater format -->
    <ion-grid class="animated fadeIn" *ngIf="seater === '11'"  fixed>
      <ion-row align-items-center  >
        <ion-col>
          <ion-grid no-padding>
            <ion-row *ngFor="let seat of first_col">
              <ion-col class="inner-col">               
                <div class="btn-seat-available" *ngIf="isElevenSeaterAvailable(seat) === true" (tap)="seatSelected(seat)">
                  <div class="seat-area15" [ngStyle]="{'background-image':'url('+checkIfselected(seat)+')'}">
                    <p>{{seat}}</p>
                  </div>             
                </div>
                <div class="seat-area15 btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="isElevenSeaterAvailable(seat) === false" (tap)="seatNotAvailable(seat)" >                    
                    <p>{{seat}}</p> 
                </div>              
              </ion-col>
            </ion-row>
          </ion-grid>          
        </ion-col> <!--end 1 col-->
        <ion-col>
            <ion-grid no-padding>
              <ion-row *ngFor="let seat of second_col">
                <ion-col  class="inner-col">                 
                    <div class="btn-seat-available" *ngIf="isElevenSeaterAvailable(seat) === true" (tap)="seatSelected(seat)">
                        <div class="seat-area15" [ngStyle]="{'background-image':'url('+checkIfselected(seat)+')'}">
                          <p>{{seat}}</p>
                        </div>             
                      </div>
                      <div class="seat-area15 btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="isElevenSeaterAvailable(seat) === false" (tap)="seatNotAvailable(seat)" >                    
                          <p>{{seat}}</p>
                    </div>                 
                </ion-col>                
              </ion-row>
            </ion-grid>          
          </ion-col> <!--end 1 col-->
          <ion-col>
              <ion-grid no-padding>
                <ion-row *ngFor="let seat of third_col">
                  <ion-col class="inner-col">                  
                      <div class="btn-seat-available" *ngIf="isElevenSeaterAvailable(seat) === true" (tap)="seatSelected(seat)">
                          <div class="seat-area15" [ngStyle]="{'background-image':'url('+checkIfselected(seat)+')'}">
                            <p>{{seat}}</p>
                          </div>             
                        </div>                   
                    <div class="seat-area15 btn-not-available" [ngStyle]="{'background-image':'url('+seat_not_available+')'}" *ngIf="isElevenSeaterAvailable(seat) === false && isDriverSit(seat) === false "  (tap)="seatNotAvailable(seat)" >                    
                        <p>{{seat}}</p>
                        
                    </div>
                    <div class="seat-area15 btn-not-available" [ngStyle]="{'background-image':'url('+staff+')'}" *ngIf="isDriverSit(seat) === true" (tap)="onselectingStaff()">
                       <p>Driver</p>                   
                    </div>                  
                  </ion-col>                  
                </ion-row>
              </ion-grid>          
            </ion-col> <!--end 1 col-->           

      </ion-row> <!--11 seater outer row-->
    </ion-grid>  
    <!-- end 11 seater bus-->    
  </div>
  <!-- end seat section -->
  <seater [available_seats]="seatsArray" (seatSelectionEvent)="onSeatSelected($event)" *ngIf="seater === '16'" ></seater>
  <seater-fiveteen [available_seats]="seatsArray" *ngIf="seater === '15'" (seatSelectionEvent) = "onSeatSelected($event)" ></seater-fiveteen>
  
</ion-content>

<!-- Footer  -->
<ion-footer>
  <ion-row justify-content-right align-items-right>    
    <ion-col col>
      <button [disabled]="seatSelectedForBooking.length <= 0" ion-button large full no-margin class="custom-btn" (tap)="goToCheckoutPage()">Book Seat</button>
    </ion-col>
  </ion-row>
</ion-footer>