user-information {
    .container {
        text-align: center;
        ion-list {
            ion-item {
                h2 {
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                p {
                 line-break: 1.5pt;
                    
                }
            }
        }
    }
}