<div class="container">  
    <ion-list no-padding>      
      <ion-item>
        <h2>Username</h2>
        <p>{{ getUsername() }}</p>
      </ion-item>
      <!-- Full Name -->
      <ion-item>
        <h2>Name</h2>
        <p>{{getFirstName()}} {{ getLastName()}}</p>
      </ion-item>     
      <!-- Phone Number -->
      <ion-item>
        <h2>Phone Number</h2>
        <p>{{getPhoneNumber()}}</p>
      </ion-item>
      <!-- Address -->
      <ion-item>
       <h2>Email Address</h2>
       <p>{{getEmail()}}</p>
      </ion-item>
      <ion-item>
        <h2>Postal Address</h2>
        <p>{{ getPostaAddress()}}</p>
      </ion-item>
      <ion-item>
        <h2>Postal Code</h2>
        <p>{{getPostalCode()}}</p>
      </ion-item>
      <ion-item>
        <h2>Id Number</h2>
        <p>{{getIdNumber()}}</p>
      </ion-item>
      <ion-item>
        <h2>Country</h2>
        <p>{{getCountry()}}</p>
      </ion-item>
      <ion-item>
        <h2>City</h2>
        <p>{{getCity()}}</p>
        </ion-item>
    </ion-list>  
</div>