seater {
    ion-col {
        padding: 0px !important;
        justify-content: center;
        align-items: center;       
        
    }
    .seat-area{
        border: 1px solid #fff;
        height: 50px;
        text-align: center;
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;        
        p{
            color: #e7840a;
            
        }
    }

}
