<!-- Recommend Destination Slider  -->
<!-- deal component used as Loading component -->
<deals *ngIf="showLoading"></deals>
<ion-slides  padding-left padding-right #slider spaceBetween="10" slidesPerView="1.2" loop="true" effect="slide" autoplay="5000"
  style="direction:ltr">
  <ion-slide *ngFor="let slide of recommendDestination" [ngStyle]="{'background' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(' + slide.image + ')'}">
    <div class="contents">
      <h2>{{slide.country}}</h2>
      <p>
        <i class="fa fa-h-square" aria-hidden="true"></i> {{slide.totalHotels}} Hotels
      </p>
      <p>
        Avarage Price: Ksh
        <ion-icon ios="logo-usd" md="logo-usd" color="color4"></ion-icon> {{slide.avgPrice}}
      </p>
    </div>
  </ion-slide>
  <ion-slide *ngFor="let slide of mytickets" [ngStyle]="{'background' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(' + bg_image + ')'}">
    <div class="contents">
      <ion-grid>
            <ion-row>
              <ion-col text-center>                  
                <ion-badge  color="color4" *ngIf="slide.status ==='confirmed'"> payment status: {{slide.status}}</ion-badge>
                <ion-badge  color="color1" *ngIf="slide.status ==='pending'"> payment status: {{slide.status}}</ion-badge>                   
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>{{slide.name}}</p>
              </ion-col>              
            </ion-row>
            <ion-row justify-content-center align-items-center>                
                <ion-col > <p>{{slide.travel_from}}</p> </ion-col>
                <ion-col  text-center>
                    <ion-row justify-content-center align-items-center>
                      <img src="assets/imgs/dot.png">
                    </ion-row>                    
                </ion-col>
                <ion-col> <p>{{slide.travel_to}}</p> </ion-col>
            </ion-row>
            <ion-row>                
                <ion-col text-center> <p>Ksh: {{slide.amount}}</p> </ion-col>                
            </ion-row>
            <ion-row>
              <ion-col text-center> <p>Ticket Reference No: {{slide.reference_number}}</p> </ion-col>
            </ion-row>
          </ion-grid>           
    </div>      
  </ion-slide>
</ion-slides>