<!-- Recommend Destination Slider  -->
<!-- deal component used as Loading component -->
<deals *ngIf="showLoading"></deals>
<ion-slides *ngIf="mytickets && mytickets.length"  padding-left padding-right #slider spaceBetween="10" slidesPerView="1.2" loop="true" effect="slide" autoplay="5000"
  style="direction:ltr">
  <!-- <ion-slide *ngFor="let slide of recommendDestination" [ngStyle]="{'background' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(' + slide.image + ')'}">
    <div class="contents">
      <h2>{{slide.country}}</h2>
      <p>
        <i class="fa fa-h-square" aria-hidden="true"></i> {{slide.totalHotels}} Hotels
      </p>
      <p>
        Avarage Price: Ksh
        <ion-icon ios="logo-usd" md="logo-usd" color="color4"></ion-icon> {{slide.avgPrice}}
      </p>
    </div>
  </ion-slide> --> 
  <ion-slide *ngFor="let slide of mytickets " [ngStyle]="{'background' : 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(' + checkStatus(slide) + ')'}">
    <div class="contents">
      <ion-grid>
            <ion-row>
              <ion-col text-center>                  
                <ion-badge  color="colorgreen" *ngIf="slide.status ==='confirmed'">{{slide.status}}</ion-badge>
                <ion-badge  color="colorred" *ngIf="slide.status ==='pending'">{{slide.status}}</ion-badge>                   
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h2>{{slide.name}}</h2>
              </ion-col>              
            </ion-row>
            <ion-row justify-content-center align-items-center>                
                <ion-col> 
                  <p class="head">{{slide.travel_from}}</p>
                 </ion-col>
                <ion-col  text-center>
                    <ion-row justify-content-center align-items-center>
                      <img src="assets/imgs/dot.png">
                    </ion-row>                    
                </ion-col>
                <ion-col> 
                  <p class="head">{{slide.travel_to}}</p> 
                </ion-col>
            </ion-row>
            <ion-row>                
                <ion-col text-center> 
                  <p class="head-two">Ksh {{slide.amount}}</p> 
                </ion-col>                
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="head">{{slide.reference_number}}</p>
                <h4 class="head-two">Ref No</h4>
              </ion-col>
              <ion-col>
                  <p class="head">{{slide.travel_date}}</p>
                  <h4 class="head-two">Date</h4>
                </ion-col>
            </ion-row>
          </ion-grid>           
    </div>      
  </ion-slide>
</ion-slides>