<!-- Header  -->
<ion-header no-border>
  <header-one title="My Tickets"></header-one>
</ion-header>

<!-- Content  -->
<ion-content no-padding>  
  <ion-card *ngFor="let ticket of mytickets" (tap)="LoadMoreDetails(ticket)">           
          <ion-grid>            
              <ion-row>
                <ion-col>
                  <h2 class="head">{{ticket.name}}</h2>
                </ion-col> 
                <ion-col text-end>                  
                    <ion-badge  color="colorgreen" *ngIf="ticket.status ==='confirmed'"> {{ticket.status}}</ion-badge>
                    <ion-badge  color="colorred" *ngIf="ticket.status ==='pending'">  {{ticket.status}}</ion-badge>                   
                </ion-col>                  
              </ion-row>
              <ion-row>
                <ion-col>
                  <h2 class="head-two"> {{ticket.vehicle_name}}</h2>
                </ion-col>
              </ion-row> 

              <ion-row  justify-content-between>                
                <ion-col >
                  <p class="head-two">{{ticket.travel_from}}</p>
                </ion-col>
                <ion-col  text-center>
                  <p><ion-badge color="primary" >Ksh:{{ticket.amount}}</ion-badge></p>
                    <img src="assets/imgs/dot.png" height="3px">                   
                </ion-col>
                <ion-col text-center>
                  <p class="head-two">{{ticket.travel_to}}</p>
                </ion-col>
              </ion-row>  

              <ion-row>
                <ion-col>
                  <h4 class="head-two">{{ticket.travel_date}}</h4>
                  <p class="heading-three">Date </p>
                </ion-col>
                <ion-col>
                  <h4 class="head-two"> {{ticket.travel_time}}</h4>
                  <p class="heading-three">Time</p>
                </ion-col>
                <ion-col>
                    <h4 class="head-two">{{ticket.reference_number}} </h4>
                    <p class="heading-three">Ticket Ref No </p>  
                  </ion-col>
              </ion-row>              
              <ion-row>
                <ion-col>
                    <h4 class="head-two">Bus Ref No {{ticket.bus_company_ref_number}}</h4>                                  
                </ion-col>
              </ion-row>
          </ion-grid>             
  </ion-card>
  <ion-card  color="color4" *ngIf="noofTicketsFound == 0" >
      <ion-grid>
        <ion-row>
          <ion-col>                        
            <p>You haven't Booked Ticket Yet</p>            
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>  
</ion-content>


